language: node_js
node_js:
  - "12.14.1"
before_script:
  - npm install -g firebase-tools
  - npm install # react-app
  - cd functions 
  - npm install # firebase functions
  - parcel build entry.js -t node
  - cd ../
script:
  - npm run build
after_success:
  - firebase deploy --token $FIREBASE_TOKEN
branches:
  only:
    - master